* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #202d36;
}
.container {
    width: 90%;
    margin: auto;
}
.header {
    background-color: #2b3743;
}
.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 0;
}
.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.slider input {
    padding: 10px 130px 10px 10px;
    background-color: #2b3743;
    color: white;
    border-radius: 2px;
    border: none;
    box-shadow: 1px 3px 9px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
    caret-color: white;
    outline: none;
}
/* .slider input:focus {
    outline: 1px solid rgb(45, 43, 53);
    transition: all 0.3s;
} */
.slider input::placeholder {
    text-align: start;
}
.slider select {
    padding: 10px;
    color: #a2abb4;
    background-color: #2b3743;
    border-radius: 2px;
    border: none;
    box-shadow: 1px 3px 9px 2px rgb(0 0 0 / 20%); 
    cursor: pointer;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;
}
.box {
    background-color: #2b3743;
    border-radius: 10px;
    box-shadow: 1px 3px 9px 2px rgb(0 0 0 / 20%);
}
.text {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #c0c9d2;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}
@media screen and (max-width: 1000px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 180px;
    }
}
@media screen and (max-width: 768px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 180px;
    }
}
@media screen and (max-width: 425px) {
    .main {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin-bottom: 300px;
    }
}
@media screen and (max-width: 375px) {
    .main {
        grid-template-columns: 1fr;
        justify-content: center;
        margin-bottom: 300px;
    }
}